.contactos {
  padding: 40px 30px;
  text-align: center;
  background: linear-gradient(180deg, #1e1f21 0%, #b4becf 100%);
}

.contactos__title {
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
}

.contactos__paragraph {
  max-width: 800px;
  margin: 0 auto 50px;
  line-height: 1.6;
  color: whitesmoke;
}

.contactos__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
  gap: 25px;
  margin-bottom: 60px;
}

.contactos__card {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.contactos__card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.contactos__card-icon {
  font-size: 32px;
  margin-bottom: 15px;
}

.contactos__card-title {
  margin-bottom: 10px;
}

.contactos__card-info {
  color: #555;
}

.contactos__action {
  text-align: center;
}

.contactos__action-title {
  margin-bottom: 30px;
  color: white;
}

.contactos__action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.contactos__action-button {
  padding: 12px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: white;
  /* border: 2px solid #1f1f20; */
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.contactos__action-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  background-color: #696f79;
  color: white;
}

.contactos__action-button i {
  font-size: 18px;
}

@media (max-width: 1024px) {
  .contactos {
    padding: 30px 20px;
  }

  .contactos__title {
    font-size: 35px;
  }

  .contactos__grid {
    gap: 20px;
  }

  .contactos__card {
    padding: 25px 15px;
  }

  .contactos__action-buttons {
    gap: 12px;
  }
}

@media (max-width: 900px) {
  .contactos {
    padding: 20px 15px;
  }

  .contactos__title {
    font-size: 29px;
  }

  .contactos__paragraph {
    font-size: 14px;
    margin-bottom: 30px;
    max-width: 460px;
  }

  .contactos__grid {
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 40px;
    justify-items: center;
  }

  .contactos__card {
    padding: 20px 15px;
    width: 100%;
    max-width: 460px;
  }

  .contactos__card-icon {
    font-size: 27px;
  }

  .contactos__action-title {
    font-size: 19px;
  }

  .contactos__action-buttons {
    flex-direction: column;
    align-items: center;
  }

  .contactos__action-button {
    width: 100%;
    max-width: 320px;
    justify-content: center;
  }
}
