.geoquimica {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/fondo_geoquimica.png");
  background-size: cover;
  background-position: center;
  gap: 40px;
}

.geoquimica__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.geoquimica__content {
  max-width: 600px;
}

.geoquimica__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-style: bold;
  font-size: 50px;
  line-height: 1.04;
  margin-bottom: 20px;
  color: white;
}

.geoquimica__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  color: whitesmoke;
}

.geoquimica__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.geoquimica__images img {
  width: 220px;
  height: 200px;
  border-radius: 10px;
  border: none;
  object-fit: cover;
}

.geoquimica__images img:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.geoquimica__videos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 0 80px;
  max-width: 2200px;
}

.geoquimica__videos iframe:hover {
  box-shadow: 0 0 20px rgba(201, 168, 106, 0.8);
}

.geoquimica__videos iframe {
  width: 100%;
  border: none;
  border-radius: 10px;
}

.geoquimica__separador {
  display: flex;
  align-items: center;
  gap: 20px;
  /*margin: 50px 0 30px;*/
  width: 100%;
}

.geoquimica__separador::before,
.geoquimica__separador::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #c9a86a;
}

.geoquimica__separador span {
  color: #c9a86a;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
