.header {
  display: flex;
  flex-direction: column;
  position: relative;
  /*height: 100vh;*/
  /*min-height: 720px;*/
  /*max-height: 800px;*/
}
.header__description {
  background:
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("../images/fondo_inicio.png");
  background-position: 70% center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__description-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 52px;
  line-height: 1.1;
  text-align: center;
  color: white;
}

.header__description-paragraph {
  max-width: 800px;
  margin: 20px auto 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: white;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  max-width: 1000px;
  margin: 0 auto;
}

.header__content::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 12px;
  background: #d4af6a;
  border-radius: 10px;
}

.header__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
  margin: 30px 0;
  gap: 15px;
}

.header__card {
  background: rgba(155, 154, 154, 0.95);
  padding: 30px 20px;
  border-radius: 15px;
  border-left: 3px solid rgba(212, 175, 106, 0.25);
  border-top: 3px solid rgba(212, 175, 106, 0.25);
  border-right: 3px solid rgba(212, 175, 106, 0.25);
  border-bottom: 3px solid rgba(212, 175, 106, 0.25);
  box-shadow: 0 5px 15px rgba(68, 68, 68, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.header__card:hover {
  transform: translateY(-8px);
  background: rgba(10, 10, 10, 0.22);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.header__card-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #d4af6a;
}

.header__card-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  margin-top: 12px;
  background: #d4af6a;
  border-radius: 10px;
}

.header__card-paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  color: white;
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.3);
}

.header__card-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #d4af6a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.header__card-link:hover {
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 1px;
}

@media screen and (max-width: 1024px) {
  .header__content {
    max-width: 900px;
    margin: 20px auto;
  }

  .header__description-title {
    font-size: 30px;
    text-align: center;
  }

  .header__description-paragraph {
    font-size: 18px;
    text-align: center;
  }

  .header__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 900px;
    margin: auto;
  }

  .header__card {
    padding: 10px 10px;
    max-width: 400px;
    margin: 10px;
  }
}
/*840*/
@media screen and (max-width: 900px) {
  .header {
    margin: auto;
  }

  .header__content {
    max-width: 360px;
    /*margin: 0 95px;*/
  }

  .header__description-title {
    font-size: 18px;
  }

  .header__description-paragraph {
    font-size: 12px;
  }

  .header__grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .header__card {
    padding: 10px 10px;
    width: 100%;
    max-width: 460px;
    margin: 10px;
  }
}
