.nuestros__clientes {
  padding: 40px 30px;
  text-align: center;
  background: linear-gradient(180deg, #3a3b3e 0%, #b4becf 100%);
}

.nuestros__clientes__title {
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
}

.nuestros__clientes__paragraph {
  max-width: 800px;
  margin: 0 auto 50px;
  line-height: 1.6;
  color: whitesmoke;
}

.nuestros__clientes__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
  gap: 25px;
  margin-bottom: 60px;
}

.nuestros__clientes__card {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.nuestros__clientes__card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.nuestros__clientes__card-logo {
  font-size: 32px;
  margin-bottom: 15px;
}

.nuestros__clientes__card-logo img {
  width: 100%;
  max-width: 120px;
  height: auto;
  object-fit: contain;
}

.nuestros__clientes__card-title {
  margin-bottom: 10px;
}

.nuestros__clientes__card-info {
  color: #555;
}

@media (max-width: 1024px) {
  .nuestros__clientes {
    padding: 30px 20px;
  }

  .nuestros__clientes__title {
    font-size: 35px;
  }

  .nuestros__clientes__grid {
    gap: 20px;
  }

  .nuestros__clientes__card {
    padding: 25px 15px;
  }
}

@media (max-width: 900px) {
  .nuestros__clientes {
    padding: 20px 15px;
  }

  .nuestros__clientes__title {
    font-size: 29px;
  }

  .nuestros__clientes__paragraph {
    font-size: 14px;
    max-width: 460px;
    margin-bottom: 30px;
  }

  .nuestros__clientes__grid {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 15px;
    margin-bottom: 40px;
  }

  .nuestros__clientes__card {
    width: 100%;
    max-width: 460px;
    padding: 20px 15px;
  }

  .nuestros__clientes__card-logo {
    font-size: 27px;
  }
}
